@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&family=Roboto+Slab:wght@200;500&display=swap');

body
{
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}
.myname 
{
	font-size: 18px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Lilita One', cursive;
    font-family: 'Qwitcher Grypen', cursive;
    font-family: 'Roboto Slab', serif;
	color: blue;
	font-weight: bolder;
}
.mymenu
{
	font-size:20px;
	color: black;
	font-weight: bolder;
}
.mymenu:hover
{
	color:#e38546;
}
.navbar
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
}
.maindiv
{
	width: 100%;
	position: absolute;
	top: 0px;
	background-color: #e8de92;
	margin-top: 5%;
	/*height: 80%;*/
}
.dv 
{
	width: 100%;
	padding-top: 200px;

}
html
{
	scroll-behavior: smooth;
}
.home
{
	height: 400px;
	margin-top: 0px;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: right center;

}
.btn button
{
	height: 30px;
	width: 80px;
	border: none;
	background-color: #e8de92;
	border-radius: 10px;
	color: rebeccapurple;
	font-sixe: 16px;
	font-weight: bolder;
}
.btn button:hover
{
	background-color: white;
	color: #ac72cf;
	border: 2px solid #e8de92;
	transform: scale(1.5);
}
.info
{
	font-family: 'Qwitcher Grypen', cursive;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}
.infodiv
{
	font-family: 'Qwitcher Grypen', cursive;
	font-family: 'Roboto Slab', serif;
}
.info1
{
	font-family: 'Qwicher Grypen', cursive;
	font-family: 'Roboto Slab', serif;
}
.infoname
{
	font-family: 'Qwicher Grypen', cursive;
	font-family: 'Roboto Slab', serif;
	color: red;
}
.imageabout
{
	height: 100%;
	margin-left: 0px;
	padding-left: 0px;
	width: 90%;
}
.imageabout:hover
{
	border-radius: 700px;
	transition-duration: 1s;
	border-radius: 100%;
	border: 4px solid blueviolet;
}
.aboutdiv
{
	margin-top: 0px;
}
.aboutme
{
	line-height: 50px;
}
.about{
	font-family: 'Bebas Neue', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Roboto Slab', serif;
background-color: #eec1f5;
height: 900px;
margin-top: 10%;

}
.library{
	height: 30%;
	width: 30%;
	margin-left: auto;
  margin-right: auto;
}
.card1
{

	font-family: 'Bebas Neue', sans-serif;
    font-family: 'Lilita One', cursive;
    font-family: 'Qwitcher Grypen', cursive;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
.cardtext{
	font-family: monospace;
	font-weight: bolder;
	text-align: justify;


}
.calci{
	height: 30%;
	width: 30%;
	margin-left: auto;
    margin-right: auto;
}
.calculatortitle{
	font-family: 'Bebas Neue', sans-serif;
    font-family: 'Lilita One', cursive;
    font-family: 'Qwitcher Grypen', cursive;
   font-family: 'Roboto Slab', serif;
   text-align: center;
}
.contact
{
	background-color: #a0bda8;
	height: 600px;
	margin-top: 10px;
}
.contactin
{
	margin-top: 5px;
}
.user
{
	height: 6%;
	width: 6%;
	border-radius: 20px;
}
.text-center
{
	font-family: 'Bebas Neue', sans-serif;
	font-family: 'Changa', sans-serif;
	font-family: 'Exo' sans-serif;
	font-family: 'Lilita One', cursive;
	font-family: 'Phudu', cursive;
	font-family: 'Qwitcher Grypen', cursive ;
	font-family: 'Roboto', sans-serif ;
	font-family: 'Roboto Condensed', sans-serif;
}


